<!doctype html>
<html lang="en">

    <head>
        <link rel="stylesheet"
            href="../build/css/create_blog_post.css" type="text/css">
        <title>Create blog post</title>
    </head>

    <body>
        <h2>Create a new blog post</h2>

        <form id="create-blog-post-form">
            <label for="title">Title</label><br>
            <input type="text" class="input" id="title" name="title"><br>

            <label for="author">Author</label><br>
            <input type="text" class="input" id="author" name="author"><br>

            <label for="text">Text</label><br>
            <textarea name="text" form="create-blog-post-form">Enter text here...</textarea><br>

            <label for="tag">Tags</label><br>
            <input type="text" class="input" id="tag" name="tag"><br>

            <label for="url">Url</label><br>
            <input type="text" class="input" id="url" name="url"><br>

            <input type="submit" value="Create Blog Post" id="submit-btn">

        </form>
    </body>

</html>