$primary-color: #0e042e;

.blogs{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10%;
}

.blog{
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: lighten($color: $primary-color, $amount: 15);
}

img{
    width: 200px;

}

h2{
    text-align: center;
}

body{
    background-color: darken($primary-color, 7);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}