<!doctype html>
<html lang="en">

    <head>
        <link rel="stylesheet"
            href="../build/css/blog_posts.css" type="text/css">
        <title>Create blog post</title>
    </head>

    <body>
        <h2>Top 15 blogs</h2>
        <div class="blogs">
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p>
            </div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
            <div class="blog">
                <img src="../images/image.jpeg" />
                <h3>Some title</h3>
                <p>Some descr...</p></div>
        </div>
    </body>

</html>